.PrimaryButton{
    background-color: #0056D2;
    color: white;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 230px;
    height: 40px;
    padding: 12px 24px;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.06);

}

.PrimaryButton:hover {
  background-color: #1D4ED8;
  transform: scale(1.02); 
  box-shadow: 0 10px 15px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.05);
  cursor: pointer;
}

.SecondaryButton {
  gap: 0.5rem; 
  white-space: nowrap;
  font-weight: 500; 
  height: 2.5rem; 
  padding: 0.75rem 1.5rem; 
  border-radius: 0.5rem; 
  border: 2px solid #0056D2; 
  color: #0056D2; 
  background-color: white; 
  font-size: 1rem; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.SecondaryButton:hover {
  color: #1D4ED8; /* hover:text-accent-foreground (ej: azul) */
  background-color: #EFF6FF; /* hover:bg-blue-50 */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.06); /* hover:shadow-md */
  transform: scale(1.02); /* hover:scale-[1.02] */
}