
.navlink {
  color: #374151;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
    font-family: "Inter", "Inter Fallback", sans-serif;

}

.navlink:hover {
  background-color: #f1f5f9;
  color: #0056D2;
}

.navlink-active {
  background-color: #c4d7f1;
  color: #0056D2;
  font-weight: 700;
  border-radius: 10px;
}

.logout-link {
  display: flex;              /* flex */
  align-items: center;        /* items-center */
  gap: 0.75rem;               /* gap-3 */
  border-radius: 0.5rem;      /* rounded-lg */
  padding: 0.5rem 0.75rem;    /* py-2 px-3 */
  color: #374151;             /* text-gray-700 */
  text-decoration: none;
  transition: all 0.2s ease-in-out; /* transition-all */

    font-size: 1em;             
  font-family: "Inter", "Inter Fallback", sans-serif;
}

.logout-link:hover {
  background-color: #fee2e2;  /* hover:bg-red-100 */
  color: #dc2626;             /* hover:text-red-600 */
}