
.navlink {
  color: #374151;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.navlink:hover {
  background-color: #f1f5f9;
  color: #0056D2;
}

.navlink-active {
  background-color: #c4d7f1;
  color: #0056D2;
  font-weight: 700;
  border-radius: 10px;
}